<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <%- include('../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-gray-100">
    <div class="bg-white text-[#514C4C] h-auto w-11/12 sm:w-96 md:w-80 lg:mt-20 lg:w-96 mx-auto mt-12 sm:mt-16 shadow-2xl rounded-lg">
      <h1 class="font-mono font-bold text-2xl lg:text-3xl text-center pt-14">Password Reset!</h1>

      <form id="reset_password_form" class="mt-7 lg:mt-7 pb-32">
        <div class="mx-7 mt-1">
          <label class="text-sm lg:text-base">New Password</label>
          <br>
          <input id="input_password" class="border-2 w-full lg:h-12 border-[#00A19A] rounded-md py-1 lg:placeholder:text-base px-3 placeholder:text-xs" type="password" placeholder="Type your password">
        </div>

        <div class="mx-7 mt-1 lg:mt-5">
          <label class="text-sm lg:text-base">Confirm New Password</label>
          <br>
          <input id="input_confirm_password" class="border-2 w-full lg:h-12 border-[#00A19A] rounded-md p-1 lg:placeholder:text-base px-3 placeholder:text-xs" type="password" placeholder="Confirm your password">

          <div class="mt-5 lg:mt-7">
            <button class="bg-[#00A19A] lg:py-3 py-1 px-2 text-sm lg:text-base rounded shadow-lg hover:bg-[#04c4ba] w-full text-white">Reset</button>
          </div>
        </div>
      </form>
    </div>
  </body>
  <script src = "/javascripts/auth/reset_password.js"></script>
</html>