<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="bg-white">
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/topNav.ejs') %>

    <div class="mt-6 md:mt-0 md:ml-64">
      <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20"> 
        <div class="py-6 lg:py-10 bg-white lg:border">

          <div class="mx-5 lg:px-6">
            <div>
              <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
            </div>
          </div>  
          
          <div class="mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <div class="pt-8">
              <h3 class="font-bold text-lg">INTRODUCTION</h3>

              <p class="pt-2">
                An introduction to your CSR activity, key personnel, motivations, statistics, initiatives, actions, impacts and policies. We advise
                writing your introduction last, as it should highlight key points taken from the Four Pillars sections. Please include any commitment
                to the UN Sustainable Development Goals and/or any external ESG scoring mechanism that you have undertaken.
              </p>
            </div>

            <form class="pt-5">
              <textarea id="introduction_textarea" class="p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]"></textarea>
            </form>

            <div class="pt-5">
              <p class="font-bold lg:text-lg">
                PLEASE FILL IN THE FOLLOWING TEXT BOXES WITH DETAILS ON THE CSR ACTIVITY YOU ARE DOING AGAINST THE CSR FOUR PILLARS. 
              </p>

              <p class="font-bold pt-4">
                SUPPORTING DOCUMENTATION TO UPLOAD
              </p>

              <p class="pt-5">
                Any supporting documentation such as policies, procedures and systems for recording impacts, reviews of performance against strategic targets, certification, statistics, any audits undertaken, photographs, links to online information or any other evidence of impacts and achievements. Please clearly title your supporting documentation and reference in your text.
              </p>

              <p class="pt-3">
                You are allowed up to five uploads per pillar. If more are needed, either zip up multiple files or collate content into a single document.
              </p>

              <p class="pt-3">
                We can accept files sent using alternative methods on request.
              </p>

              <p class="pt-5 text-sm text-red-700">
                *PLEASE NOTE* ENSURE ALL FILES HAVE FULLY UPLOADED BEFORE SUBMITTING YOUR FORM - PLEASE KEEP FILE SIZES UNDER 10MB
              </p>

              <p class="font-bold pt-6">
                CSR-A applies a 'blank canvas' approach to applications and you are encouraged to include all and any information on CSR activity that is outside of the experience described by the Four Pillar activity lists. We are very interested in any unique or innovative activity so please make sure you include it in this 'Other' section.
              </p>
            </div>
          </div>

          <div class="text-right text-sm mt-3 text-white pr-5 lg:pr-10">
            <button class="py-2 px-3 mr-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
              <a href="./company_details">Previous Step</a>
            </button>

            <button onclick="updateApplicationIntroduction()" class="py-2 px-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:animate-none animate-bounce duration-300">Submit</button>
          </div>
        </div>  
      </div>  
    </div>  
    <script 
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer>
    </script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascripts/application_introduction.js"></script>
  </body>   
</html> 