<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="bg-white">
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/topNav.ejs') %>

    <div class="mt-6 md:mt-0 md:ml-64">
      <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20"> 
        <div class="py-6 lg:py-10 bg-white lg:border">
          <div class="mx-5 lg:px-6">
            <div>
              <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
            </div>
          </div>  
          
          <div class="mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <div class="pt-8">
              <h2 class="text-xl font-bold font-mono text-[#00A19A]">SECTION ONE - ENVIRONMENT</h2>

              <p class="pt-4 font-bold">ENVIRONMENT - 1C/ Travel</p>

              <p class="pt-4">
                For example, does your organisation have any travel polices in place?
              </p>
            </div>

            <div class="pt-4">
              <h4 class="font-bold text-sm">Please use the list below to prompt your thinking.</h4>

              <ul class="list-disc list-inside pt-3">
                <li class="pl-5">
                  Minimising business travel - through use of technology and/or best practice.
                </li>

                <li class="pl-5 pt-2">
                  Teleconferencing - Facetime, Skype and other digital meeting platforms
                </li>

                <li class="pl-5 pt-2">
                  Low carbon driving incentives - hybrid and electric vehicles.
                </li>

                <li class="pl-5 pt-2">
                  Promoting hybrid, electric and low carbon vehicles available through fleet and/or staff company car scheme.
                </li>

                <li class="pl-5 pt-2">
                  Sustainable motoring infrastructure - installing charge points for electric vehicles.
                </li>

                <li class="pl-5 pt-2">
                  The Government’s Cycle to Work Scheme - government tax exemption initiative introduced in the Finance Act 1999.
                </li>

                <li class="pl-5 pt-2">
                  Car sharing schemes.
                </li>

                <li class="pl-5 pt-2">
                  Commuting plans - remote working and flexible hours, commuters clubs. Work from home days.                
                </li>

                <li class="pl-5 pt-2">
                  Clean air initiatives - waste and recycling consolidation, streamlining deliveries.            
                </li>

                <li class="pl-5 pt-2">
                  Please show statistical data where available.         
                </li>
              </ul>
            </div>  

            <form class="pt-5">
              <textarea class="p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]">
              </textarea>
            </form>
          </div>

          <div class="text-right  text-sm mt-3 text-white pr-5 lg:pr-10">
            <button class="py-2 px-3 mr-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
              <a href="./environment_natural_resource">Previous Step</a>
            </button>

            <button class="py-2 px-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:animate-none animate-bounce duration-300">
              <a href="./environment_supply_chain_management">Next Step</a>
            </button>
          </div>
        </div>  
      </div>  
    </div>  
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>   
</html> 