<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="bg-white">
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/topNav.ejs') %>

    <div class="mt-6 md:mt-0 md:ml-64">
      <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20"> 
        <div class="py-6 lg:py-10 bg-white lg:border">
          <div class="mx-5 lg:px-6">
            <div>
              <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
            </div>
          </div>  
          
          <div class="mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <div class="pt-6">
              <p class="font-bold text-lg">
                SUPPORTING DOCUMENTATION - PHILANTHROPY
              </p>

              <p class="pt-3">
                Any supporting evidence such as policies, proof of engagement and support of charities or causes, reviews of impacts, photographs of events, correspondence and acknowledgements, links to online information or any other evidence of impacts and achievements. Please clearly title your supporting documentation and reference in your text
              </p>

              <p class="pt-4">
                You are allowed up to five uploads per pillar. If more are needed, either zip up multiple files or collate content into a single document.
              </p>

              <p class="pt-2">
                We can accept files sent using alternative methods on request.
              </p>
              
              <p class="pt-5 text-sm text-red-700">
                *PLEASE NOTE* ENSURE ALL FILES HAVE FULLY UPLOADED BEFORE SUBMITTING YOUR FORM PLEASE KEEP FILE SIZES UNDER 10MB
              </p>

              <div class="pt-6 lg:grid lg:">
                <input type="file">
                <input class="pt-2" type="file">
                <input class="pt-2" type="file">
                <input class="pt-2" type="file">
                <input class="pt-2" type="file">
              </div>
            </div> 
          </div>

          <form class="pt-5 mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <p class="font-bold">OTHER</p>

            <p class="pt-4">Please include all and any information on CSR activity that is outside of the experience described by the Four Pillar activity lists. </p>

            <textarea class="mt-4 p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]">
            </textarea>

            <p class="mt-5 font-bold">FUTURE PLANNING & ADVISORIES</p>

            <p class="pt-4">Please include any future planning and advisories in regard to your social responsibility policy, any commitments you have to the UN Sustainable Development Goals (UN-SDGs) and any external ESG scoring mechanisms which your organisation has used</p>

            <textarea class="mt-4 p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]">
            </textarea>
          </form>

          <div class="pt-5 mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <p class="font-bold">Please now save and upload this information to the official online application form where you can also upload any supporting information:</p>

            <p class="pt-1">
              <a class="text-blue-500 underline" href="https://csr-accreditation.co.uk/csr-accreditation-application-form-2022/" target="_blank">https://csr-accreditation.co.uk/csr-accreditation-application-form-2022/</a>
            </p>

            <p class="mt-5 text-xl font-bold text-left">THANK YOU FOR YOUR APPLICATION</p>

            <p class="pt-4">Your application will be reviewed by 3 members of our independent Accreditation assessment panel. You will be notified of the results of your application within 2-3 weeks of assessment. Accredited applicants will then receive an Accreditation pack containing a digital Accreditation Mark toolkit, guidance for using your Mark, a certificate of Accreditation and literature advising future action and how to communicate your Accreditation. Accredited organisations can take advantage of an annual consultation, to advise on continuous improvement. Organisations that have not reached the minimum level required for Accreditation will receive gap analysis and an invitation to re-apply for a small administration fee.</p>
          </div>

          <div class="text-right text-sm mt-14 text-white pr-5 lg:pr-10">
            <button class="py-2 px-3 mr-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
              <a href="./philanthropy_financial_and_kind_gifts">Previous Step</a>
            </button>

            <button class="py-2 px-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] hover:-translate-y-1 hover:scale-110">Submit</button>
          </div>
        </div>  
      </div>  
    </div>  
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  </body>   
</html> 