<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="text-blue-700 text-4xl">Welcome to <%= title %></h1>
  </body>
</html>