<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <%- include('../../partials/head.ejs') %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="bg-white">
    <%- include('../../partials/nav.ejs') %>
    <%- include('../../partials/topNav.ejs') %>

    <div class="mt-6 md:mt-0 md:ml-64">
      <div class="md:py-8 mx-5 sm:mx-8 lg:mx-14 xl:mx-20"> 
        <div class="py-6 lg:py-10 bg-white lg:border">
          <div class="mx-5 lg:px-6">
            <div>
              <img class="w-32" src="/assets/images/CSR-A_Logo-RGB.jpg" alt="logo" />
            </div>
          </div>  
          
          <div class="mx-5 lg:px-6 pb-5 text-justify text-sm lg:text-base">
            <div class="pt-8">
              <h2 class="text-xl font-bold font-mono text-[#00A19A]">SECTION ONE - ENVIRONMENT</h2>
            </div>

            <div class="pt-7">
              <p class="pt-4 font-bold">ENVIRONMENT - 1B/ Natural Resources</p>

              <p class="pt-4">
                For example, does your organisation provide a water saving policy? What statistics, KPIs and reductions have you made? What are the financial benefits and measurable impact to your organisation? Do you recycle water or have water saving devices? Have staff demonstrated their commitment? What ideas do you have to expand the scheme?
              </p>
            </div>

            <div class="pt-4">
              <h4 class="font-bold text-sm">Please use the list below to prompt your thinking.</h4>

              <ul class="list-disc list-inside pt-3">
                <li class="pl-5">
                  Water efficient toilets, kitchens - aerators, dual flush toilets, installing water meters.
                </li>

                <li class="pl-5 pt-2">
                  Reduced dependence on oil and gas
                </li>

                <li class="pl-5 pt-2">
                  Greenhouse gas reduction - building insulation, more efficient appliances and boilers, behavioral measures - switching off lights and appliances, turning down thermostats.
                </li>

                <li class="pl-5 pt-2">
                  Improved biodiversity - promoting diversity of habitats and species in premises and the wider community.
                </li>

                <li class="pl-5 pt-2">
                  Sustainable resource use - recycled paper, refillable printer cartridges, fair trade suppliers. 
                </li>

                <li class="pl-5 pt-2">
                  Please show statistical data where available.             
                </li>
              </ul>
            </div>  

            <form class="pt-5">
              <textarea id="env_natural_resource" class="p-8 max-h-96 text-justify resize-y h-40 w-full border border-[#464343]"></textarea>
            </form>
          </div>

          <div class="text-right text-sm mt-3 text-white pr-5 lg:pr-10">
            <button class="py-2 px-3 mr-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300">
              <a href="./environment_energy">Previous Step</a>
            </button>

            <button id="submit_btn" onclick="updateEnvironmentNaturalResource()" class="py-2 w-32 px-3 hover:bg-[#03857e] rounded-md shadow-lg bg-[#00A19A] transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 hover:animate-none animate-bounce duration-300">
              Submit
            </button>
          </div>
        </div>  
      </div>  
    </div>  
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="/javascripts/environment/environment_natural_resources.js"></script>
  </body>   
</html> 